<h1>Put a Cat on Layaway Today!</h1>

<form action="<%= cat_rental_requests_url%>" method="POST">

  <label>Name</label>

  <label>Cat Choice</label>
  <select name="cat_rental_request[cat_id]">
    <option disabled >--Choose a Kitty--</option>
    <% cats = Cat.all %>
    <% cats.each do |cat| %>
      <option value="<%= cat.id %>"><%= cat.name %></option>
    <% end %>
  </select>

  <br>
  <label>Start Date</label>
  <input name="cat_rental_request[start_date]" type="date">
  <br>

  <label>End Date</label>
  <input name="cat_rental_request[end_date]" type="date">

  <input type="submit" value="Pawlease Rent Me" />
</form>
